/*nav bar*/

#navbar{
	flex-direction: column;
	height: auto;
	padding-bottom: 20px;
	font-size: 18px;

}

#navbar ul{
	display: flex;
	flex-wrap: wrap;
/*	flex-direction: column;*/
}

#navbar ul li{
	margin: 10px 20px;
}
/*home section*/
#home h1{
	font-size: 2.0rem;

}

#home p{
	font-size: 1rem;
}


#services{
	flex-wrap: wrap;
	margin: 0;
}

.food img{
	width: 150px;
	height: auto;
}


#clientbox{
	flex-wrap: wrap;
	height: auto;
}

#clientbox img{
	width: 100px;
}