*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

html{
	scroll-behavior: smooth;
}

#navbar::before{
	content: "";
/*	background: linear-gradient(45deg,red,maroon);*/
background: rgba(0, 0, 0, 0.9);
	z-index: -1;
/*	opacity: 0.9;*/
	position: absolute;
	width: 100%;
	height: 100%;
}

#navbar{
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	padding: 20px;
}

#navbar ul{
	list-style-type: none;
}

#navbar ul li{
	display: inline-block;
	margin: 0px 10px;
/*	background: red;*/
}

#navbar ul li a{
	padding: 5px 10px;
/*	background: yellow;*/
	font-size: 1.2rem;
	font-weight: bold;
	color: white;
	text-decoration: none;
}


#drop{
	display: flex;
display: none;
	flex-direction: column;
	background: black;
	position: absolute;
	top: 62px;
	padding: 10px;
/*	height: 80px;*/
}

#active{
	background: red;
}

#drop li{
/*	background: yellow;*/
display: inline-block;
	padding: 10px;
}


#navbar ul li:hover ul#drop{
	display: flex;
}

#navbar a{
/*	background: yellowgreen;*/
	border-radius: 10px;
	color: white;
}

#navbar a:hover{
	background: red;
}

/*section home bg image*/


#home::before{
	content: "";
	background: url('img/bg2.jpg') no-repeat center center/cover;
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	opacity: 1;
	filter: contrast(120%);
/*	filter: blur(2px);*/

}



#home{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
/*	background: rgba(0, 0, 0, 0.6);*/
	height: 540px;
}

#home:hover{
	background: none;
}

.h-primary{
	text-align: center;
	font-size: 2.9rem;
	margin: 10px;
}

#home h1{
	color: white;
	text-shadow: 2px 3px 5px black;
}

#home p{
	text-align: center;
	font-weight: bold;
	background: black;
	color: white;
	padding: 5px 20px;
	border-radius: 100px;
	font-size: 1.5rem;
	margin: 0px 0px 30px 0px;
}


#home a{
	display: inline-block;
	padding: 6px 20px;
	background: red;
/*	position: relative;*/
	border: 2px solid white;
	color: white;
	text-decoration: none;
	border-radius: 10px;
	transition: all .5s;

}

#home a:hover{
	transform: scale(1.2);
	background: darkred;
}

#service{
	background: black;
	padding: 10px;

}

.service-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background: black;
}


.food{
	text-align: center;
	border-radius: 20px;
	padding: 20px;
	width: 17rem;
	margin: 10px 20px;
	background: whitesmoke;
/*	box-shadow: 2px 3px 7px white;*/
	transition: all .3s ease-in-out;


}

.food:hover{
	transform: scale(1.1);
	border: 3px solid red;
	cursor: pointer;
/*	box-shadow: 3px 5px 10px wheat;*/

}


.foodimg img{
	width: 200px;

}

.service-container a{
	padding: 6px 20px;
	font-size: 1.3rem;
	text-decoration: none;
	color: white;
	background: red;
	border-radius: 10px;
/*	border: 2px solid black;*/
}


/*category*/

#category{
	padding: 20px 0px 40px 20px;
	background: url('img/bg.jpg') no-repeat center center/cover;

}

.veg{
	width: 17rem;
	height: 300px;
		text-align: center;
	border-radius: 20px;
	padding: 20px 20px 20px 20px; 
	width: 17rem;
	margin: 10px 20px;
	background: black;
	color: white;
	transition: all 0.2s;
}

.veg:hover{
	transform: scale(1.2);
	border: 3px solid red;
	cursor: pointer;
}

.category-container{
display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
/*	text-align: center;*/
}


.category-container a{
	padding: 6px 20px;
	font-size: 1.3rem;
	text-decoration: none;
	color: white;
	background: red;
	border-radius: 10px;
/*	border: 2px solid black;*/
}


#about{
	background: black;
/*	border: 2px soild red;*/
	padding: 20px 80px 20px 80px;
	display: flex;
	flex-direction: column;

}

#about h1{
	color: white;

}

#about p{
	border: 2px solid red;
	padding: 30px;
	border-radius: 20px;
	text-align: center;
/*	width: 30rem;*/
	color: white;
}


#contact::before{
	content: "";
	background: url('img/contact.webp') no-repeat center center/cover;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
/*	filter: contrast(120%);*/
/*	opacity: 0.8;*/

}


#contact{
	position: relative;
/*	padding: 20px;*/

}

form{
	padding: 20px;
	display: flex;
	width: 100%;
	flex-direction: column;
		justify-content: center;
	align-items: center;


}


.group{
	width: 50%;
	display: flex;
/*	position: relative;*/
	flex-direction: column;

}


.group input,textarea{
	padding: 10px 20px;
/*	width: fixed;*/
	border-radius: 10px;
	margin: 5px; 
		border: 1px solid black;
	box-shadow: 3px 5px 10px black;
/*	font-size: 1.5rem;*/
}


.group label{
	font-size: 1.5rem;
}
